[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=rubymine
Name=RubyMine
Comment=The Most Intelligent Ruby and Rails IDE
Icon=rubymine
Categories=Development;IDE;
